<a href="https://colab.research.google.com/github/30Lima/Inteligencia-artificial/blob/main/Desafio01_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1° Desafio do curso 'Pandas: conhecendo a biblioteca'**

1) Importe o arquivo alunos.csv e armazene seu conteúdo em um DataFrame Pandas.

2) Visualize as primeiras 7 linhas do DataFrame e as 5 últimas.

3) Confira a quantidade de linhas e colunas desse DataFrame.

4) Explore as colunas do DataFrame e analise os tipos dos dados presentes em cada coluna.

Extra: Calcule algumas estatísticas descritivas básicas dos dados do DataFrame (média, desvio padrão, etc). Dica: pesquise pelo método describe.

In [ ]:
#importando a lib para realizar a análise de daos
import pandas as pd

In [ ]:
#Guardando o dataset em uma variável
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
pd.read_csv(url)

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    NaN     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    NaN     False
10     Daniel     21    NaN     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN     False
15     Mylena     29    7.0      True
16      Lucas     33    NaN     False
17      Nadia     34    8.0      True

In [ ]:
#Formatando os dados e guardando em uma outra variável
dados = pd.read_csv(url, sep=',')
#Exibindo as primeiras sete linhas do dataframe
dados.head(7)

    Nome  Idade  Notas  Aprovado
0    Ary     20    7.5      True
1    Ana     18    NaN     False
2  Cátia     27    2.5     False
3  Denis     18    5.0     False
4   Beto     21   10.0      True
5  Bruna     23    NaN     False
6   Dara     21    7.0      True

In [ ]:
#Exibindo as últimas cinco linhas do dataframe
dados.tail(5)

      Nome  Idade  Notas  Aprovado
13   Mirla     25    9.0      True
14   Paulo     37    NaN     False
15  Mylena     29    7.0      True
16   Lucas     33    NaN     False
17   Nadia     34    8.0      True

In [ ]:
#Conferindo oa quantida de linhs e colunas do dataframe
dados.shape
#Temos exatamente dezoito linhas e quatro colunas

(18, 4)

In [ ]:
#Verificando os tipos de dados
type(dados)

pandas.core.frame.DataFrame

In [ ]:
#Analisando as colunas que temos
dados.columns

Index(['Nome', 'Idade', 'Notas', 'Aprovado'], dtype='object')

In [ ]:
#Verificando somente os nomes presentes no dataframe
dados['Nome']

0           Ary
1           Ana
2         Cátia
3         Denis
4          Beto
5         Bruna
6          Dara
7        Carlos
8         Alice
9         Vitor
10       Daniel
11         Igor
12    Sthefanie
13        Mirla
14        Paulo
15       Mylena
16        Lucas
17        Nadia
Name: Nome, dtype: object

In [ ]:
#Verificando as idades presentes no dataframe
dados['Idade']

0     20
1     18
2     27
3     18
4     21
5     23
6     21
7     19
8     35
9     28
10    21
11    24
12    26
13    25
14    37
15    29
16    33
17    34
Name: Idade, dtype: int64

In [ ]:
#Verificando as notas presentes no dataframe
dados['Notas']

0      7.5
1      NaN
2      2.5
3      5.0
4     10.0
5      NaN
6      7.0
7      6.0
8      5.6
9      NaN
10     NaN
11     4.5
12     9.5
13     9.0
14     NaN
15     7.0
16     NaN
17     8.0
Name: Notas, dtype: float64

In [ ]:
#Verificando os aprovados do dataset
dados['Aprovado']

0      True
1     False
2     False
3     False
4      True
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12     True
13     True
14    False
15     True
16    False
17     True
Name: Aprovado, dtype: bool

In [ ]:
#Tentativa de realizar a contagem de valores verdadeiros
filtro = dados[dados['Aprovado'] == True]
print(filtro)

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN      True
2       Cátia     27    2.5      True
3       Denis     18    5.0      True
4        Beto     21   10.0      True
5       Bruna     23    NaN      True
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6      True
9       Vitor     28    NaN      True
10     Daniel     21    NaN      True
11       Igor     24    4.5      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN      True
15     Mylena     29    7.0      True
16      Lucas     33    NaN      True
17      Nadia     34    8.0      True

In [ ]:
#Teste para a tentativa de soma dos dados
teste = dados['Notas'].sum()
print(teste)

81.6

In [ ]:
#Tentativa de trazer somente os dados dos alunos aprovados
contagem = dados['Aprovado'].value_counts()
print(contagem)

Aprovado
True    18
Name: count, dtype: int64

In [ ]:
#Após alguns teste, chegamos no resultado.
#Abaixo temos quantidade total de alunos aprovados do nosso dataframe
contagem2 = dados['Aprovado'].value_counts()[True]
print(contagem2)

18

In [ ]:
#Verificando novamente o dataframe
pd.read_csv(url)

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    NaN     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    NaN     False
10     Daniel     21    NaN     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN     False
15     Mylena     29    7.0      True
16      Lucas     33    NaN     False
17      Nadia     34    8.0      True

In [ ]:
#Calculando a média aritmética das notas e idade
media_aritmetica_notas = dados['Notas'].mean()
print("A média aritmética de notas é: ",media_aritmetica_notas)

media_aritmetica_idade = dados['Idade'].mean()
print("A média aritmética das idades é:", media_aritmetica_idade)

A média aritmética de notas é:  6.8
A média aritmética das idades é: 25.5

In [ ]:
#Calculando o desvio padrão das notas e idade
desvio_padrao_idades = dados['Idade'].std()
print("O desvio padrão das idades é: ", desvio_padrao_idades)

desvio_padrao_notas = dados['Notas'].std()
print("O desvio padrão de notas é: ", desvio_padrao_notas)

O desvio padrão das idades é:  6.070662334249088
O desvio padrão de notas é:  2.204953101954366

In [ ]:
#Calculando o valores mínimo e máximo de notas e idade para ter noção da amplitude do dataframe
valor_minimo = dados['Notas'].min()
print("O valor mínimo do dataframe é: ", valor_minimo)

valor_maximo = dados['Notas'].max()
print("O valor máximo do dataframe é: ", valor_maximo)

O valor mínimo do dataframe é:  2.5
O valor máximo do dataframe é:  10.0

In [ ]:
#Calculando a distribuição de valores das notas e idade
distribuicao_valores_notas = dados['Notas'].quantile()
print("A distribuição de notas é: ", distribuicao_valores_notas)

distribuicao_valores_idade = dados['Idade'].quantile()
print("A distribuição de idades é: ", distribuicao_valores_idade)

A distribuição de notas é:  7.0
A distribuição de idades é:  24.5